

/* ROOT */

:root {

  --periwinkle: #C3CDE6;
  --periwinkle-ii: #B6BED3;
  --periwinkle-iii: #A1A6B7;
  --periwinkle-iv: #848792;
  --periwinkle-v: #5A595E;

  --purple: #9F009F;
  --purple-ii: #8F2A86; /* 810281 */
  --purple-iii: #832F7B; /* 630463 */
  --purple-iv: #70336B; /* 460646 */
  --purple-v: #51314E; /* 2F072F */

  --pink: #FF007F;
  --pink-ii: #DA2578; /* C30463 */
  --pink-iii: #C12F6F; /* 880848 */
  --pink-iv: #9E3661; /* 4D0D2D */
  --pink-v: #693449; /* 290F1C */

  --orange: #FF9F40;
  --orange-ii: #E49343; /* C67E36 */
  --orange-iii: #C78343; /* 8D5D2D */
  --orange-iv: #A16E41; /* 533B24 */
  --orange-v: #684E38; /* 31281E */

  --yellow: #FFEFBF;
  --yellow-ii: #E9DBB2; /* CABE9A */
  --yellow-iii: #C9BD9C; /* 958D75 */
  --yellow-iv: #A0967F; /* 5F5B4F */
  --yellow-v: #666055; /* 403E39 */

}



/* **********  ALT COLOR */

#rainbow-unicorn nav ul li.active a {
  color: var(--dark-ii);
}

#rainbow-unicorn nav ul li.color:not(.active) a,
#rainbow-unicorn a.color,
#rainbow-unicorn font.color {
  color: var(--periwinkle);
}
#rainbow-unicorn nav ul li.color-purple:not(.active) a,
#rainbow-unicorn a.color-purple,
#rainbow-unicorn font.color-purple {
  color: var(--purple);
}
#rainbow-unicorn nav ul li.color-pink:not(.active) a,
#rainbow-unicorn a.color-pink,
#rainbow-unicorn font.color-pink {
  color: var(--pink);
}
#rainbow-unicorn nav ul li.color-orange:not(.active) a,
#rainbow-unicorn a.color-orange,
#rainbow-unicorn font.color-orange {
  color: var(--orange);
}
#rainbow-unicorn nav ul li.color-yellow:not(.active) a,
#rainbow-unicorn a.color-yellow,
#rainbow-unicorn font.color-yellow {
  color: var(--yellow);
}

#rainbow-unicorn a.color:hover {
  color: var(--periwinkle-ii);
}
#rainbow-unicorn a.color-purple:hover {
  color: var(--purple-ii);
}
#rainbow-unicorn a.color-pink:hover {
  color: var(--pink-ii);
}
#rainbow-unicorn a.color-orange:hover {
  color: var(--orange-ii);
}
#rainbow-unicorn a.color-yellow:hover {
  color: var(--yellow-ii);
}

#rainbow-unicorn,
#rainbow-unicorn nav,
#rainbow-unicorn article,
#rainbow-unicorn aside,
#rainbow-unicorn .color div.color {
  background-color: var(--dark-ii);
}

#rainbow-unicorn nav ul li.active.color {
  background-color: var(--periwinkle);
}
#rainbow-unicorn nav ul li.active.color-purple {
  background-color: var(--purple);
}
#rainbow-unicorn nav ul li.active.color-pink {
  background-color: var(--pink);
}
#rainbow-unicorn nav ul li.active.color-orange {
  background-color: var(--orange);
}
#rainbow-unicorn nav ul li.active.color-yellow {
  background-color: var(--yellow);
}

#rainbow-unicorn nav ul li.color {
  border-color: var(--periwinkle);
}
#rainbow-unicorn nav ul li.color-purple {
  border-color: var(--purple);
}
#rainbow-unicorn nav ul li.color-pink {
  border-color: var(--pink);
}
#rainbow-unicorn nav ul li.color-orange {
  border-color: var(--orange);
}
#rainbow-unicorn nav ul li.color-yellow {
  border-color: var(--yellow);
}

#rainbow-unicorn::-webkit-scrollbar-track {
  background: var(--dark-ii);
}

.matte-thin {
  border-color: var(--dark);
}



/* ***** **** COLOR - PERIWINKLE */

#periwinkle-unicorn nav li:not(.active) a,
#periwinkle-unicorn div[role="navigation"] a,
#periwinkle-unicorn a.color,
#periwinkle-unicorn b.color,
#periwinkle-unicorn h1,
#periwinkle-unicorn h3,
#periwinkle-unicorn h2.color,
#periwinkle-unicorn h4.color,
#periwinkle-unicorn h5.color,
#periwinkle-unicorn font.color {
  color: var(--periwinkle);
}
#periwinkle-unicorn div[role="navigation"] a:hover,
#periwinkle-unicorn a.color:hover,
#periwinkle-unicorn a:hover .color,
#periwinkle-unicorn li.color a {
  color: var(--periwinkle-ii);
}
#periwinkle-unicorn li.btn:hover a,
#periwinkle-unicorn nav ul.page li.active a,
#periwinkle-unicorn nav ul.page li.scene a {
  color: var(--dark-ii);
}

#periwinkle-unicorn,
#periwinkle-unicorn nav,
#periwinkle-unicorn article,
#periwinkle-unicorn .color div.color {
  background-color: var(--dark-ii);
}
#periwinkle-unicorn div.color,
#periwinkle-unicorn #scene {
  background-color: var(--periwinkle-v);
}
#periwinkle-unicorn button,
#periwinkle-unicorn input[type="submit"],
#periwinkle-unicorn a:hover > div.color,
#periwinkle-unicorn #soci a img {
  background-color: var(--periwinkle-iv);
}
#periwinkle-unicorn button:hover,
#periwinkle-unicorn input[type="submit"]:hover {
  background-color: var(--periwinkle-iii);
}
#periwinkle-unicorn li.btn a:after,
#periwinkle-unicorn li.btn.color:before,
#periwinkle-unicorn nav ul.page li.active a,
#periwinkle-unicorn nav ul.page li.scene {
  background-color: var(--periwinkle);
}

#periwinkle-unicorn pre.thin,
#periwinkle-unicorn .matte-thin {
  border-color: var(--periwinkle-v);
}
#periwinkle-unicorn nav li.color,
#periwinkle-unicorn .matte {
  border-color: var(--periwinkle);
}

#periwinkle-unicorn::-webkit-scrollbar-thumb { background: var(--periwinkle); }



/*

#rainbow-unicorn form.periwinkle-unicorn button,
div.periwinkle-unicorn {
  background-color: var(--periwinkle-iv);
}
#rainbow-unicorn form.periwinkle-unicorn button:hover,
div.periwinkle-unicorn:hover {
  background-color: var(--periwinkle-iii);
}
#rainbow-unicorn nav .page li.active {
  background-color: var(--periwinkle);
}

nav ul li.periwinkle-unicorn {
  border-color: var(--periwinkle);
} */



/* **********  PURPLE: rgb(159,0,159) */

#purple-unicorn nav li:not(.active) a,
#purple-unicorn div[role="navigation"] a,
#purple-unicorn a.color,
#purple-unicorn b.color,
#purple-unicorn h1,
#purple-unicorn h3,
#purple-unicorn h2.color,
#purple-unicorn h4.color,
#purple-unicorn h5.color,
#purple-unicorn font.color {
  color: var(--purple);
}
#purple-unicorn div[role="navigation"] a:hover,
#purple-unicorn a.color:hover,
#purple-unicorn a:hover .color,
#purple-unicorn li.color a {
  color: var(--purple-ii);
}

#purple-unicorn div.color,
#purple-unicorn #scene {
  background-color: var(--purple-v);
}
#purple-unicorn button,
#purple-unicorn input[type="submit"],
#purple-unicorn a:hover > div.color,
#purple-unicorn #soci a img {
  background-color: var(--purple-iv);
}
#purple-unicorn button:hover,
#purple-unicorn input[type="submit"]:hover {
  background-color: var(--purple-iii);
}
#purple-unicorn li.btn a:after,
#purple-unicorn li.btn.color:before,
#purple-unicorn nav ul.page li.active a,
#purple-unicorn nav ul.page li.scene {
  background-color: var(--purple);
}

#purple-unicorn pre.thin,
#purple-unicorn .matte-thin {
  border-color: var(--purple-v);
}
#purple-unicorn nav li.color,
#purple-unicorn .matte {
  border-color: var(--purple);
}

#purple-unicorn::-webkit-scrollbar-thumb {
  background: var(--purple);
}



/* **********  PINK: rgb(255,0,127) */

#pink-unicorn nav li:not(.active) a,
#pink-unicorn div[role="navigation"] a,
#pink-unicorn a.color,
#pink-unicorn b.color,
#pink-unicorn h1,
#pink-unicorn h3,
#pink-unicorn h2.color,
#pink-unicorn h4.color,
#pink-unicorn h5.color,
#pink-unicorn font.color {
  color: var(--pink);
}
#pink-unicorn div[role="navigation"] a:hover,
#pink-unicorn a.color:hover,
#pink-unicorn a:hover .color,
#pink-unicorn li.color a {
  color: var(--pink-ii);
}

#pink-unicorn div.color,
#pink-unicorn #scene {
  background-color: var(--pink-v);
}
#pink-unicorn button,
#pink-unicorn input[type="submit"],
#pink-unicorn a:hover > div.color,
#pink-unicorn #soci a img {
  background-color: var(--pink-iv);
}
#pink-unicorn button:hover,
#pink-unicorn input[type="submit"]:hover {
  background-color: var(--pink-iii);
}
#pink-unicorn li.btn a:after,
#pink-unicorn li.btn.color:before,
#pink-unicorn nav ul.page li.active a,
#pink-unicorn nav ul.page li.scene {
  background-color: var(--pink);
}

#pink-unicorn pre.thin,
#pink-unicorn .matte-thin {
  border-color: var(--pink-v);
}
#pink-unicorn nav li.color,
#pink-unicorn .matte {
  border-color: var(--pink);
}

#pink-unicorn::-webkit-scrollbar-thumb {
  background: var(--pink);
}



/* **********  ORANGE: rgb(255,159,64) */

#orange-unicorn nav li:not(.active) a,
#orange-unicorn div[role="navigation"] a,
#orange-unicorn a.color,
#orange-unicorn b.color,
#orange-unicorn h1,
#orange-unicorn h3,
#orange-unicorn h2.color,
#orange-unicorn h4.color,
#orange-unicorn h5.color,
#orange-unicorn font.color {
  color: var(--orange);
}
#orange-unicorn div[role="navigation"] a:hover,
#orange-unicorn a.color:hover,
#orange-unicorn a:hover .color,
#orange-unicorn li.color a {
  color: var(--orange-ii);
}

#orange-unicorn div.color,
#orange-unicorn #scene {
  background-color: var(--orange-v);
}
#orange-unicorn button,
#orange-unicorn input[type="submit"],
#orange-unicorn a:hover > div.color,
#orange-unicorn #soci a img {
  background-color: var(--orange-iv);
}
#orange-unicorn button:hover,
#orange-unicorn input[type="submit"]:hover {
  background-color: var(--orange-iii);
}
#orange-unicorn li.btn a:after,
#orange-unicorn li.btn.color:before,
#orange-unicorn nav ul.page li.active a,
#orange-unicorn nav ul.page li.scene {
  background-color: var(--orange);
}

#orange-unicorn pre.thin,
#orange-unicorn .matte-thin {
  border-color: var(--orange-v);
}
#orange-unicorn nav li.color,
#orange-unicorn .matte {
  border-color: var(--orange);
}

#orange-unicorn::-webkit-scrollbar-thumb {
  background: var(--orange);
}



/* **********  YELLOW: rgb(255,239,191) */

#yellow-unicorn nav li:not(.active) a,
#yellow-unicorn div[role="navigation"] a,
#yellow-unicorn a.color,
#yellow-unicorn b.color,
#yellow-unicorn h1,
#yellow-unicorn h3,
#yellow-unicorn h2.color,
#yellow-unicorn h4.color,
#yellow-unicorn h5.color,
#yellow-unicorn font.color {
  color: var(--yellow);
}
#yellow-unicorn div[role="navigation"] a:hover,
#yellow-unicorn a.color:hover,
#yellow-unicorn a:hover .color,
#yellow-unicorn li.color a {
  color: var(--yellow-ii);
}

#yellow-unicorn div.color,
#yellow-unicorn #scene {
  background-color: var(--yellow-v);
}
#yellow-unicorn button,
#yellow-unicorn input[type="submit"],
#yellow-unicorn a:hover > div.color,
#yellow-unicorn #soci a img {
  background-color: var(--yellow-iv);
}
#yellow-unicorn button:hover,
#yellow-unicorn input[type="submit"]:hover {
  background-color: var(--yellow-iii);
}
#yellow-unicorn li.btn a:after,
#yellow-unicorn li.btn.color:before,
#yellow-unicorn nav ul.page li.active a,
#yellow-unicorn nav ul.page li.scene {
  background-color: var(--yellow);
}

#yellow-unicorn pre.thin,
#yellow-unicorn .matte-thin {
  border-color: var(--yellow-v);
}
#yellow-unicorn nav li.color,
#yellow-unicorn .matte {
  border-color: var(--yellow);
}

#yellow-unicorn::-webkit-scrollbar-thumb {
  background: var(--yellow);
}




ul.periwinkle-list li {
  font-size: calc( 4em / 3 );
  margin-top: 1em;
}
ul.periwinkle-list li a {
  color: #E3E3E3;
  cursor: default;
  font-size: calc( 3em / 2 );
}



@media only screen
and ( max-width: 960px ) {

  ul.periwinkle-list li {
    font-size: 1em;
  }
  ul.periwinkle-list li a {
    font-size: calc( 11em / 9 );
  }
}

@media only screen
and ( max-width: 768px ) {

  ul.periwinkle-list li a {
    font-size: 1em;
  }
}
